<body>
  <h1>Pirate Info:</h1>
    <p>Pirate's Name: <%= @pirate.name %></p>
    <p>Pirate's Weight: <%= @pirate.weight %></p>
    <p>Pirate's Height: <%= @pirate.height %></p>

  <h1>Ships Info:</h1>
    <% @ships.each do |ship| %>
      <div class="ship">
        <p>Ship Name: <%= ship.name %></p>
        <p>Ship Type: <%= ship.type %></p>
        <p>Ship Booty: <%= ship.booty %></p>
      </div><br>
    <% end %>
</body>

