<body>
  <h1>Pirate Info:</h1>
    <p>Pirate's Name: <%= @pirate.name %></p>
    <p>Pirate's Weight: <%= @pirate.weight %></p>
    <p>Pirate's Height: <%= @pirate.height %></p>

  <h2>Ships Info:</h2>
    <% @ships.each do |ship| %>
      <div class="ship">
        <p>Ship Name: <%= @ship.name %></p><br>
        <p>Ship Type: <%= @ship.type %></p><br>
        <p>Ship Booty: <%= @ship.booty %></p><br>
      </div><br>
    <% end %>
</body>
  <!-- <h2>Display your second ship here</h2>
<body>
  <p>Puppy Name: <%= @name %></p>
  <p>Puppy Breed: <%= @breed %></p>
  <p>Puppy Age: <%= @age %> months</p>
</body> -->
